@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	height: 100%;

	@import './../src/main-page/main-page';
}
