$white: #FFFFFF;
$black: #000000;

$lightgrey: #ECEDE8;
$grey: #D9DAD0;
$blue-grey: #D7DFE6;
$light-blue-grey: #F3F5F7;

$darker-blue: #283a5a;
$dark-blue: #293958;
$purple-red: #64293E;

$green: #2ECC71;
$red: #c0392b;
